@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/*Cuerpo de la pagina*/

body{background-color: rgb(228, 251, 243);
}

/*barra de navegacion*/

a{
    text-decoration: none;
    color: white;
    font-family:"Anton", sans-serif;
    font-size: larger
}

nav{
    flex: auto;
    background-color: rgba(0, 150, 150, 0.622);
    font-family: 'Gill Sans';
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline;
    padding: 2em;
}

/*seccion inicio*/

.inicio h1{
    color:white;
    font-family: helvetica;
    font-size: 1.5em;
    background-color: rgb(219, 149, 232);
    text-align: center;
    font: size 2em;
    margin-left: 20%;
    margin-right: 20%;
    padding: 1%;
}

.inicio h2{
    color:black;
    font-family: Helvetica;
    font-size: 3em;
    text-align:center;  
}

.inicio h3{
    color: black;
    text-align: center;
    font-family: Helvetica;
    font-size: 2em;
}

.inicio p{
    font-family: "Anton", sans-serif;
    font-size: 2em;
  text-align: center;
    background-color:#ffffff ;
    padding:2%;
    margin-right: 20%;
    margin-left: 20%;
    border-style: double;
    border-color: #000000;
}

.inicio img{
    border-radius: 50%;
    border-width: 1em;
    border-style:inset;
    width: 12em;
    border-color: rgb(201, 100, 212);
    display: block;
    margin: 0 auto;
}

.inicio i{
    margin-left: 2px;
    color: rgb(43, 2, 43);
    padding-left: 10px;
}

/*seccion descripcion*/

.descripcion i{
    padding: 1em;
    color: rgb(43, 2, 43);
}

.descripcion h2{
    font-family:Cambria;
    font-size: 2em;
    text-align: center;
    background-color: rgb(0, 150, 150, 0.622) ;
    border-style: double;
    border-color: black;
    text-transform: uppercase;
}

.descripcion p{
    font-family: Cambria;
    background-color: #ffffff;
    text-align: center;
    font-size: 2em;
    font-style: italic;
    margin-left: 2em;
    margin-right: 2em;
    padding: 2em;
    text-indent:2cm;
    border-style: inset;
}

/*Barra de proyectos*/

.proyectos{
    background-image: url(img/imagenfondo.jpg);
    background-size: cover;
    padding-top: 1em;
    padding-bottom: 3em;
}

.proyectos h1{
    font-family:Cambria;
    color: #ffffff;
    font-size: 2em;
    text-align: center;
    background-color:rgb(0, 150, 150, 0.622);
    border-style: double;
    text-transform: uppercase;
}
 

.proyectos i{
    padding: 1em;
    color: rgb(43, 2, 43);
}

.proyectos img{
  width: 20%;
  border-style: inset;
  border-color: black;
}

.proyectos p{
 font-family: cambria;
 font-size: 2em;
 color: black;
 text-align: center;
 background-color: white;
 border-color: black;
 border-style: inset;
 padding: 2%;
 margin-left: 3em;
 margin-right: 3em;
}

/*botones*/

.boton1{
    background-color: rgb(56, 53, 53);
    flex:content;
    margin-right: 40%;
    margin-left: 40%;
    margin-bottom: 1%;
    margin-top: 3em;
    text-align: center;
    font-size: 1em;
    padding: 1%;
    border-radius: 2em;
}

.boton1 i{
   font-size: 3em;
   color: #ffffff;
   padding: 1%;
}

.boton2{
    background-color: rgb(56, 53, 53);
    flex: auto;
    margin-right: 40%;
    margin-left: 40%;
    margin-bottom: 1%;
    text-align: center;
    font-size: 1em;
    padding: 1%;
    margin-top: 2em;
    border-radius: 2em;
}

.boton2 i{
    font-size: 3em;
    color: #ffffff;
    padding: 1%;
}

.contacto h2{
    font-family: Helvetica;
    text-align: center;
    font-style: bold;
    font-size: 30px;
    background-color: rgb(0, 150, 150, 0.622) ;
    padding: 20px;
    margin-top: 150px;
    margin-right: 370px;
    margin-left: 370px;
    border-style: double;
    border-color: black;
    text-transform: uppercase;
}

/*formulario*/


h1{
    font-family:Cambria;
    color: #ffffff;
    font-size: 2em;
    text-align: center;
    background-color:rgb(0, 150, 150, 0.622);
    border-style: double;
    text-transform: uppercase;
}

.contacto i{
    padding: 1em;
    color: rgb(43, 2, 43);
}

form{
    margin:0 auto;
    width:400px;
    padding: 20px;
    background-color: rgb(154, 223, 223);
    font-family: cambria;
    border-radius: 20px;
    border-width: 3px;
    border-style:inset;
    border-color: black;
    font-size: 20px;
    text-align: left;
    
  }

input,textarea{
    border: 0;
    outline: none;
} 
.field{
    margin: 0 auto;
    border:solid 1px;
    color: rgb(36, 36, 36);
    padding: 10px;
    width: 250px;
}

.field:focus{
    border-color: black;
}

input{
    color: rgba(4, 92, 104, 0.951);
    width: 300px;
    font-size: 18px;
    border-color: black;
    padding: 10px;
    text-align: center;
}

.center-content{
    text-align: center;

}

.botonconsulta{
    text-align: center;
    width: 100px;
}

.area{
    margin: 0 auto;
    border:solid 1px;
    color: rgb(36, 36, 36);
    padding: 20px;
    width: 300px;
    height: 50px;
}